.blocks
	.item
		| Сериалы
	.item.item__current
		| Мультсериалы
	.item
		| Аниме
	.item
		| Документальные сериалы
.genres
	.item Все
	.item Боевики
	.item Детективы
	.item.item__current Драмы
	.item.item__current Исторические
	.item Комедия
	.item Криминальные
	.item.item__current Мелодрамы
	.item Мистические
	.item Приключения
	.item Триллеры
	.item Ужасы
	.item Фантастические
	.item Турецкие сериалы
	.item Индийские сериалы