.blocks
	.item.item__current
		| Сериалы
	.item
		| Мультсериалы
	.item
		| Аниме
	.item
		| Документальные
.genres
	.item.item__all.item__current Все
	.item.fight Боевики
	.item.detective Детективы
	.item.drama Драмы
	.item Исторические
	.item Комедия
	.item Криминальные
	.item Мелодрамы
	.item Мистические
	.item Приключения
	.item Триллеры
	.item Ужасы
	.item Фантастические
	.item Турецкие сериалы
	.item Индийские сериалы