a(href="#").serial__item
	.serial__item.wrapper__serial
		.serial__item__hovered
			span.play
		img(src="img/new-1.jpg")
		.serial__item--translate
			.serial__item--translate__item LostFilm
			.serial__item--translate__item OmskBird
			.serial__item--translate__item BaibaKo
			.serial__item--translate__item BaibaKo
	.serial__item--header
		.serial__item--header__name
			|	Сверхъестественное
		.serial__item--header__properties
			| 11 сезон 1 серия «Из тьмы да в пламя»
		