a(href="#").serial__item
	.serial__item.wrapper__serial
		.serial__item__hovered
			span.play
		img(src="img/new-1.jpg")
		.serial__item--translate
			.serial__item--translate__item Lostfilm
			.serial__item--translate__item Кубик в кубе
			.serial__item--translate__item Гоблин
	.serial__item--header
		.serial__item--header__name
			|	Название сериала
		.serial__item--header__properties
			| Prop 1; prop 2, 3; prop 4;
		