include blocks/head

	block content	
	include blocks/header
	.wrapper--main 
		include blocks/new-serials
		a(href="#").string.string__big.string__yellow
			|	Показать все новые серии и озвучки &#709;
		include blocks/list-serials
		
	include blocks/footer