header
	nav.header
		ul.nav__top
			a(href="#").logo
				img(src="img/logo__top.png", alt="logo")
			li.nav__top--item
				a(href="#") Список сериалов
			li.nav__top--item
				a(href="#") Популярные сериалы
			li.nav__top--item
				a(href="#") Новинки 
		.header--right
			.wrapper__search  
				input(type="text" placeholder="Поиск").search.search__top
				.search__top--close &#59651;
			.user
				img(src="img/user.png")
		.clear