.new-serials--header
	.h1 Новые серии
	.switch
		p.js-switch__open
			| Развернуть
		p.js-switch__close
			| Свернуть
.owl-carousel.new-serials--content
	.item
		img(src='img/new-1.jpg')
	.item
		img(src='img/new2.jpg')
	.item
		img(src='img/new3.jpg')
	.item
		img(src='img/new4.jpg')