.new-serials--header
	.h1 Новые серии
	.switch
		p.js-switch__open
			| Развернуть
		p.js-switch__close
			| Свернуть
.owl-carousel.new-serials--content
	- for (var y = 0; y < 5; y++)
		.item
			- for (var x = 0; x < 4; x++)
				//start elements/serial-item
				include ../elements/serial-item.jade