.news-list
	.h1
		| Новинки
	.news-list--block
		- for(f = 0; f < 6; f++)
			.serial__item.serial__item__news
				span.info i
				.serial__item.wrapper__serial__noshadow
					a(href="#").serial__item__hovered
						span.play
					img(src="img/news-list__item.jpg")
				a(href="#").serial__item--header
					.serial__item--header__name
						br
						|	Название сериала
					.serial__item--header__properties
						| Prop 1 
				.literal__item--card.border__orange.news-list--card
					.info
						p.card__header 10 причин моей
						p.card__tags боевики, детективы, боевики, детективы, боевики, детективы
						.rate.rate__small
							.kinigo 5.6
						p.card__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit vitae a placeat officiis odio, adipisci nostrum maxime esse saepe sapiente dolore dignissimos perspiciatis praesentium quam mollitia, minima eligendi! Eaque, tempora.