.serial--footer
	.serial--footer__semi
		.h3 Подробнее о сериале Сверхъестественное
		img(src="img/trailer.jpg", alt="")
		button.btn.btn__full
			img(src="img/button--play.png")
			| Смотреть трейлер
	.serial--footer__semi
		.tabs
			ul
				li
					a(href='#tabs-1') Описание
				li
					a(href='#tabs-2') О Сериале
				li
					a(href='#tabs-3') Отзывы
			#tabs-1
				p
					|	В семье Винчестеров случилась трагедия. Ничего не предвещало беды в тот вечер, дети и родители ложились спать. Мать семейства, Мэри Винчестер, поднялась к своему младшему сыну, Сэму, но все было в порядке. Когда она вышла из комнаты, у нее появилось нехорошее предчувствие. Свет начал мигать, и она вернулась к сыну. Отец, Джон Винчестер, бежал на крик жены, но сделать уже ничего не смог. Сверхъестественные силы убили Мэри. Он поклялся себе отомстить за нее и убить ту нечисть, которая посмела такое сделать. 
				br
				p
					|	Два брата, Сэм и Дин, уже смутно помнят события той ночи. Однако они точно не забудут своей главной цели – отомстить. Вместе с отцом братья путешествуют по миру и помогают людям бороться с нечистью. Для них не страшны ведьмы, призраки, демоны и вампиры. На одной из охот отец при загадочных обстоятельствах исчезает. Теперь у братьев Сэма и Дина еще одно сверхважное задание – найти любимого отца. Им придется увидеть многое за эти годы, но никогда мысль закончить поиски их не посетит. 
				br
				p
					|	Отважности братьев можно только позавидовать. Им придется сразиться с самыми мерзкими и подлыми существами. С их помощью мир избавится от десятков злых демонов и духов. Лучшая похвала для братьев Винчестер – слова благодарности за спасение. В сериале Сверхъестественное они сделают все, чтобы найти отца и отомстить за мать.
			#tabs-2
				p
					| Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.
			#tabs-3.feedback
				a(href="#")
					span
					|	Оставить отзыв
				.owl-carousel.new-serials--content
					.item
						span Лучший отзыв
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam placeat animi, ex officiis nesciunt, dolores molestiae sapiente, minima quis qui reprehenderit nihil maxime dolorem ducimus culpa sit quasi excepturi dolor assumenda voluptatum alias at! Facilis, sint beatae, earum perspiciatis, non ipsum sapiente obcaecati, eius unde recusandae numquam culpa in cumque.
					.item
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque adipisci, nam voluptatibus perferendis aliquam distinctio, iste, a illum earum et cumque eaque in veniam minus reprehenderit. Nihil enim soluta veritatis repellendus quisquam pariatur, modi necessitatibus, repellat asperiores excepturi inventore. Sequi soluta cumque quis delectus, odit quos, maiores quae ut incidunt.
					.item
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quo repudiandae sint officiis doloremque repellendus sequi itaque nihil expedita quis, distinctio iste neque tempora a facere perspiciatis blanditiis quisquam, natus autem minima consequatur architecto molestias voluptatem reprehenderit. Quis atque fugiat quod, ullam eos beatae, sequi vero ex animi labore facere.