a(href="#").serial__item
	.serial__item.wrapper__serial
		.rating 9.9
		.serial__item__hovered
			span.play
		img(src="img/gudini.jpg")
	.serial__item--header
		.serial__item--header__name
			|	Гудини 
		.serial__item--header__properties
			| Драма
		