@import helpers
@import variables

*
	margin: 0
	padding: 0 
	box-sizing border-box

body
	font-family "PTSansRegular"
	background url('../img/bg__top.png') top center no-repeat, black
	background-size 100%
	
.wrapper
	&--main
		background #fff
		width 1170px
		margin: 190px auto 0
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25)
		padding 30px 15px
		
a
	text-decoration: none
	color inherit

li
	list-style none

input
	&.search
		border 0
		outline none
		background url('../img/search.svg') no-repeat 20px center, dark
		border-left 2px solid #242424
		border-right 2px solid #242424
		position: relative
		height 54px
		width 110px
		padding-left 45px
		font-size 15px
		transition animation
		left 0
		&.js-opened
			width: 920px
			position: absolute
			left: -920px
		&::placeholder
			color: #ececec
			transition animation
		/*&:focus
			&::placeholder
				color transparent*/
		
.h1
	font-size: 30px
	font-weight: 700
	line-height: 18px
	width: 169px
	letter-spacing -1px

@import "blocks/header.styl" 
@import "blocks/new-serials.styl" 

@import "elements/serial-item.styl" 
