@import helpers
@import variables

* 
	margin: 0
	padding: 0 
	box-sizing border-box

body
	font-family "PT Sans"
	background url('../img/bg__top.png') top center no-repeat, black
	background-size 100%
	overflow-x hidden
	
.wrapper
	&--main
		background #fff
		max-width 1170px
		width 100%
		margin: 190px auto 0
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25)
		padding 30px 15px
		position relative
		
a
	text-decoration: none
	color inherit

li
	list-style none
.square
	padding-left calc(1em +9px)
	li
		margin-bottom 1em
		&::before
			content ''
			display inline-block
			width 9px
			height 9px
			background #e67e02
			vertical-align: middle
			margin-left: calc(-1em - 9px)
			margin-right: 1em
			

input
	&.search
		border 0
		outline none
		background url('../img/search.svg') no-repeat 20px center, dark
		border-left 2px solid #242424
		border-right 2px solid #242424
		position: relative
		height 53px
		width 110px
		padding-left 45px
		font-size 15px
		transition animation
		left 0
		&.js-opened
			width: 920px
			position: absolute
			left: -920px
		&::placeholder
			color: #ececec
			transition animation
		/*&:focus
			&::placeholder
				color transparent*/
					
.h1
	font-size: 30px
	font-weight: 700
	line-height: 18px
	letter-spacing -1px
	&__serial-header
		position absolute
		top 49px
		left 0
		background #0e0e0e
		color: #e7e7e7
		font-size: 27px
		line-height: 35px
		width 100%
		padding-left 30px
		height 52px
.h2
	color: #080808
	font-size: 24px
	font-weight: 400
	line-height: 30px
.h3
	color: #e7e7e7
	font-size: 24px
	font-weight: 400
	line-height: 30px
.string
	width 100%
	color: #fffefe
	font-size: 14px
	font-weight: 700
	text-transform: uppercase
	display block
	box-sizing content-box
	padding 0 1.1em 0 1.1em
	margin-left -1.1em
	text-align center
	@media screen and (max-width: 960px)
		font-size 18px
	&__big
		padding-top 21px
		padding-bottom 21px
		margin-top -1em
		@media screen and (max-width: 960px)
			margin-bottom 1em
	&__yellow
		background linear-gradient(to right, #fc9b29 0%, #f88701 100%)

.btn__to-top
	position: fixed
	bottom: 30vh
	right: calc(50% - 610px)
	border: 1px solid #f88803
	background-color: #f88803
	opacity: 0.8
	width: 140px
	height: 46px
	color: #fff
	cursor: pointer
	display none

button
	cursor pointer
	&.btn
		background: transparent
		border: 1px solid #f88803
		color: #f88803
		font-size: 14px
		font-weight: 400
		display flex
		justify-content center
		align-items center
		padding 13px
		&__full
			width 100%
		img
			width 16px !important
			height 16px !important
			margin-right 10px
			margin-top 0
			margin-bottom 0

footer
	width 100%
	max-width 1170px
	margin 0 auto
	img
		width 100%


@import "blocks/header.styl" 
@import "blocks/new-serials.styl" 
@import "blocks/list-abc.styl" 
@import "blocks/news-list.styl" 
@import "blocks/page-serials.styl" 
@import "blocks/serial--header.styl" 
@import "blocks/serial--footer.styl" 

@import "elements/serial-item.styl" 
@import "elements/breadcrumbs.styl" 
@import "elements/paggination.styl" 


//modificators

.border__orange
	border-left 3px solid #f88701
	padding 20px
	box-shadow: 0 0 24px rgba(0, 0, 0, 0.25)
	&::before
		content ''
		display block
		position absolute
		left -9px
		width: 0
		height: 0
		border-top: 8px solid transparent
		border-right: 6px solid #f88701
		border-bottom: 8px solid transparent
	&__img
		background url('../img/border.svg') no-repeat left top
		padding 0
		border 0
		div.info
			padding 20px

.static
	p
		opacity: 0.8
		color: #080808
		font-size: 16px
		font-weight: 400
		line-height: 22px