.abc
	position relative
	display flex
	flex-wrap wrap
	justify-content flex-start
	align-items flex-start
	padding: 35px 0 0 2em
	@media screen and (max-width: 1200px)
		justify-content flex-end
	&::before
		content: ''
		display: block
		width: 50px
		height: 25px
		position: absolute
		top: -25px
		background: url(../img/triangle.png) center no-repeat
		background-size: cover
		left: calc(50% - 20px)
	.item__current
		display block
.literal
	padding 21px 25px 35px 27px
	width 25%
	position relative
	display block
	@media screen and (max-width: 1200px)
		width 32%
	@media screen and (max-width: 960px)
		width 50%
	@media screen and (max-width: 640px)
		width 75%
		margin 0 auto 
	li
		&:nth-child(n+8)
			display none
	&__header
		position absolute
		top 1em
		left 0em
		width: 13px
		height: 14px
		color: #e67e02
		font-size: 24px
		font-weight: 700
		line-height: 15px		
		@media screen and (max-width: 960px)
			top: .8em
			left: -0.2em
			font-size: 36px
	&__item
		position relative
		@media screen and (max-width: 960px)
			padding 5px 0
		&:hover
			.literal__item--card
				display flex
		&--card
			cursor pointer
			position absolute
			top 0
			right -200%
			background: #fff
			display flex
			display none
			z-index 1
			width: 468px
			height: 242px
			.poster
				margin-right 20px		
		a
			color: #575656
			font-size: 15px
			line-height: 28px
			transition animation
			@media screen and (max-width: 960px)
				font-size 24px
				line-height 28px
		&:hover
			a
				color: #e67e02
.js__show
	color: #888888
	font-size: 13px
	font-weight: 400
	line-height: 28px
	cursor pointer
	display flex
	align-items center
	@media screen and (max-width: 960px)
		font-size 18px
		margin-top 10px
	&--all
		li
			display block !important
.card
	&__header
		color: #2e2e2e
		font-size: 18px
		font-weight: 700
		line-height: 14px
		margin-bottom 10px
	&__tags
		opacity: 0.8
		color: #707070
		font-size: 13px
		font-weight: 400
		line-height: 16px
		margin-bottom 22px
.rate
	display flex
	justify-content space-around
	align-items center
	width: 126px
	height: 32px
	background-color: #ececec
	color: #1c1c1c
	font-size: 16px
	font-weight: 700
	line-height: 28px
	padding-left 5px
	&__small
		width 68px
		margin-bottom 26px
.kinigo
	opacity .8
	display flex
	align-items center
	&::before
		content ''
		display inline-block
		width 14px
		height 14px
		margin-right 5px
		background url('../img/kinigo.png') center no-repeat
		background-size cover
.imdh
	opacity .8
	margin-left .5em
	display flex
	align-items center
	&::before
		content ''
		display inline-block
		width 28px
		height 12px
		margin-right 5px
		background url('../img/imdh.png') center no-repeat
		background-size cover
.none
	display none
	
.card__description
	color #353535
	line-height 18px
	font-size 14px