.new-serials
	&--header
		display flex
		justify-content space-between
		align-items center
	&--content
		margin-top 2em
		&:hover
			.owl-nav
				opacity 1
		.item
			display flex
			justify-content space-between
			padding-bottom 1em
.js-switch
	&__open
		&::after
			content '^'
	&__close
		display: none
		&::after
			content '^'
.owl-nav
	opacity 0
	transition .5s ease-in
	margin-top 1em
	height 0
	justify-content space-between
.owl-next
	background url('../img/arrow.svg') center no-repeat
	background-size cover
	width 38px
	margin-right 1em
	&:hover
		background url('../img/arrow.svg') center no-repeat
		background-size cover
.owl-prev
	background url('../img/arrow.svg') center no-repeat
	background-size cover
	transform rotate(180deg)
	width 38px
	margin-left 1em
	&:hover
		background url('../img/arrow.svg') center no-repeat
		background-size cover
.owl-dot
	display: none