.new-serials
	&--header
		display flex
		justify-content space-between
		align-items center
	&--content
		margin-top 2em
		&:hover
			.owl-nav
				opacity 1
		.item
			display flex
			justify-content space-between
			padding-bottom 1em
			@media screen and (max-width: 960px)
				flex-wrap wrap
.js-switch
	&__open
		cursor pointer
		display flex
		align-items center
		&::after
			content ''
			display inline-block
			width: 8px
			height: 6px
			background: url('../img/switch.svg') no-repeat
			background-size contain
			margin-left 8px
		&__white
			display inline-block
			&::after
				content ''
				display inline-block
				width: 8px
				height: 6px
				background: url('../img/switch__white.svg') no-repeat
				background-size contain
				margin-left 8px
		&__opacity
			display inline-block
			&::after
				opacity .5
				content ''
				display inline-block
				width: 6px
				height: 4px
				background: url('../img/switch.svg') no-repeat
				background-size contain
				margin-left 0px
				@media screen and (max-width: 960px)
					width 11px
					height 9px
					margin-left 7px
	&__close
		cursor pointer
		display: none
		&::after
			content ''
			display inline-block
			width: 8px
			height: 6px
			background: url('../img/switch.svg') no-repeat
			background-size contain
			margin-left 8px
.owl-nav
	opacity 0
	transition .5s ease-in
	margin-top 1em
	height 0
	justify-content space-between
.owl-next
	background url('../img/arrow.svg') center no-repeat
	background-size cover
	width 38px
	margin-right 1em
	&:hover
		background url('../img/arrow.svg') center no-repeat
		background-size cover
.owl-prev
	background url('../img/arrow.svg') center no-repeat
	background-size cover
	transform rotate(180deg)
	width 38px
	margin-left 1em
	&:hover
		background url('../img/arrow.svg') center no-repeat
		background-size cover
.owl-dot
	display: none