.news-list
	margin-top 92px
	@media screen and (max-width: 960px)
		overflow auto
	&--card
		&.literal__item--card
			z-index 2
			display none
			width: 278px
			height: 262px
			left 100%
			overflow hidden
			&.js__show
				display flex
	&--block
		margin 25px 0
		display flex
		align-items center
		
	&--item
		cursor pointer
		text-align center
		width 100%
		overflow hidden
		img
			position relative
			width 100%
			left 0
			top 0
span
	&.info
		z-index 1
		position absolute
		border-radius 50%
		width: 23px
		height: 23px
		border: 1px solid #000000
		background url('../img/info.png') center no-repeat
		color: #202020
		font-size: 18px
		font-weight: 700
		line-height: 20px
		text-align center
		right 13px
		top 22px
		