media(maxWidth)
	@media screen and (max-width: maxWidth)
		{block}

.serial--header
	position relative
	width 100%
	box-sizing content-box
	margin-left calc(-1em + 1px)
	margin-top -2em
	padding 1em 0 2em 2em
	background #0e0e0e
	display flex
	justify-content space-between
	align-items flex-start
	margin-bottom 2em
	+media(1200px)
		flex-direction column
	&--button
		display flex
		margin-top -2em
		+media(1200px)
			display none
		&--item
			background #3a3229
			padding 15px 22px 11px 16px
			border-top 2px solid #e67e02
			color #fff
			cursor pointer
			margin -1px 1px
			display flex
			align-items center
		img
			height 15px
			margin-right 10px
	&--ancors
		margin-top 23px
		display flex
		justify-content space-between
		+media(480px)
			overflow-x: scroll
	&--ancor
		color: #6c6c6c
		display flex
		align-items center
		+media(1200px)
			margin-right 1em
		+media(480px)
			flex-shrink 0
		img
			height 16px
			margin-right 10px
	&__semi
		&:nth-last-child(1)
			padding-left 3em
			padding-right 2em
			+media(480px)
				padding-left 0
	.h1
		color #fff
		display flex
		align-items center
		+media(1200px)
			flex-direction column
			align-items flex-start
	p 
		color #fefefe
	.rate
		margin-left .5em
		background transparent
		color #fff
		padding-top 5px
		+media(1200px)
			margin-top .5em
			margin-left -7px
			padding-left 0
	.kinigo::before
		background: url(../img/kinogo__gray.png) center no-repeat
		background-size: cover
		+media(768px)
			width 16px
			height 15px
	.imdh::before
		background: url(../img/imdb__gray.png) center no-repeat
		background-size: cover
		+media(768px)
			width 29px
			height 13px
.rate__stars
	display flex
	align-items center
	margin-top 12px
	p 
		opacity: 0.3
		color: #fefefe
		font-family: "PT Sans"
		font-size: 14px
		font-weight: 400
		line-height: 36px
#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label 
	background url('../img/rate__stars.png') no-repeat
#reviewStars-input 
	overflow hidden
	margin-left 10px
	position relative
	float left
#reviewStars-input 
	input 
		opacity 0
		width 18px
		height 16px
		position absolute
		top 0
		z-index 0
#reviewStars-input input:checked ~ label 
	background-position 0 -16px
	width 18px
	height 16px
#reviewStars-input label 
	background-position 0 0
	width 18px
	height 16px
	float right
	cursor pointer
	margin-right 2px
	position relative
	z-index 1
#reviewStars-input label:hover, #reviewStars-input label:hover ~ label 
	background-position 0 -16px
	width 18px
	height 16px
#reviewStars-input #star-0 
	left 0px
#reviewStars-input #star-1 
	left 20px
#reviewStars-input #star-2 
	left 40px
#reviewStars-input #star-3 
	left 60px
#reviewStars-input #star-4 
	left 80px
#reviewStars-input #star-5 
	left 100px
#reviewStars-input #star-6
	left 120px
#reviewStars-input #star-7 
	left 140px
#reviewStars-input #star-8
	left 160px
#reviewStars-input #star-9
	left 180px
	
.season--checker
	margin-top 40px
	display flex
	align-items center
	+media(480px)
		flex-direction column
		align-items flex-start
		margin-top 0
	p
		opacity: 0.3
		color: #fefefe
		font-family: "PT Sans"
		font-size: 14px
		font-weight: 400
		line-height: 36px
	&--item
		color #848484
		width 35px
		height 35px
		text-align center
		line-height 35px
		background: #242424
		margin 0 1px
		position relative
		transition animation
		&:hover
			background: #343434
		&__active
			background #e67e02
			color #fff
	a
		position absolute
		width 100%
		height 100%
		left 0
		top 0
ul
	&.season--checker
		margin-top 0
		margin-left .5em
		flex-direction row
		+media(480px)
			margin-left 0
.serial--header__tabs
	display flex
	justify-content space-between
	align-items center
	color #fefefe